.about_us {
  &_title {
    @extend .new_collection_title;
    font-size: 2rem;
  }
  &_link {
    text-transform: uppercase;
    font-weight: $fontMedium;
    font-size: $minSize;
    color: $red;
  }
  &_desc {
    @extend .new_collection_desc;
    width: 100%;
    @extend .flex-center;
    justify-self: center;
  }
}
